@media screen and (max-width: 1110px), (orientation: portrait) {
  .wrapper {
    padding: 20px 32px;
    width: 100%;
  }
  .header {
    background-color: none;
  }
  .header > .wrapper {
    flex-wrap: wrap;
  }
  .header__navbar {
    white-space: nowrap;
    order: 1;
    overflow: scroll;
    align-items: center;
    padding-top: 30px;
  }
  .header__navbar::-webkit-scrollbar,
  .card__holder::-webkit-scrollbar,
  .newcard__element_left::-webkit-scrollbar {
    display: none;
  }
  .header__button {
  }

  /*  */

  .hero {
    height: 405px;
    background-size: cover;
  }
  .hero__title {
    padding-top: 30px;
    font-size: 48px;
    width: 256px;
  }
  .hero__subtitle {
    display: none;
  }
  .hero__explore {
    padding-top: 30px;
  }

  /*  */

  .card {
    height: 493px;
  }
  .card__holder {
    height: 100%;
    overflow: scroll;
  }
  .card__switch {
    display: none;
  }

  /*  */
  .newartf {
    padding-top: 85px;
  }
  .newcard {
    flex-wrap: wrap;
  }
  .newcard__element_left {
    min-width: 255px;
    width: 100%;
    overflow: scroll;
  }
  .support,
  .footer {
    display: none;
  }
}
@media screen and (min-width: 751px) {
  .header__navbar {
    padding: 0;
  }
}
